{% extends 'main/general.html' %}
{% load crispy_forms_tags %}
{% block title %}Главная страница{% endblock  %}

{% block  body %}
<div style="display: grid; grid-template-columns: repeat(3,1fr)">
<div class="card" style="width: 18rem;">
    <img src="../../static/main/img/pngwing.com.png" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div class="card3" style="width: 18rem;">
    <img src="../../static/main/img/pngwing.com(1).png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div class="card4" style="width: 18rem;">
    <img src="../../static/main/img/pngwing.com(3).png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
</div>
  
{% endblock %}